.header {
  display: block;
  width: 720px;
  height: 343px;
  margin: 50px auto 0 auto;
  text-align: center;
  background-image: url("Images/Nat-main.jpg");
  background-size: cover;
  border: 0.5px solid black;
  border-radius: 10px;
}

.intro {
  width: 225px;
  height: 42px;
  left: 247px;
  top: 119px;
  background: #f1faee;
  border-radius: 10px;
  margin-left: 260px;
  margin-top: 122px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #1d3557;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}

.outro {
  width: 412px;
  height: 52px;
  left: calc(50% - 412px / 2);
  top: calc(50% - 52px / 2 + 26.5px);
  background: #f1faee;
  border-radius: 10px;
  margin-left: 154px;
  margin-bottom: 119px;
  padding: 8px 28px 5px 28px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #fb5607;
}

.middle {
  display: block;
  width: 720px;
  height: 343px;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #f1faee;
}

.title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1d3557;
  margin-top: 39px;
  margin-bottom: 55px;
}

.img-1 {
  width: 104px;
  height: 104px;
  left: 314px;
  top: 113px;
  background: url("/images/Ijele.jpg");
  border-radius: 50px;
}

.img-2 {
  width: 104px;
  height: 104px;
  left: 314px;
  top: 113px;
  background: url("/images/Food.jpg");
  border-radius: 50px;
}

.img-3 {
  width: 104px;
  height: 104px;
  left: 314px;
  top: 113px;
  background: url("/images/Art.jpg");
  border-radius: 50px;
}

.balls {
  display: flex;
  justify-content: space-around;
}

.mini-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1d3557;
  width: 162px;
  height: 35px;
  left: 283px;
  top: 235px;
}

.tiny {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1d3557;
}

.footer {
  display: block;
  width: 720px;
  height: 343px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.footer-box {
  width: 400px;
  height: 294px;
  left: 160px;
  top: 50px;
  background: #e76f51;
  box-shadow: 0px 6px 0px #fb5607;
  border-radius: 10px;
  margin-top: 80px;
  margin: 80px auto 0 auto;
  text-align: center;
  display: flex;
}

.profile-img {
  width: 180px;
  height: 248.67px;
  left: 173px;
  top: 73px;
  background: url("Images/Cee.jpg");
  border-radius: 10px;
  margin: 23px 207px 23px 13px;
}

.profile-title {
  width: 207px;
  height: 32px;
  left: 349px;
  top: 99px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1d3557;
  margin-top: 49px;
  margin-left: -213px;
}

.profile-words {
  width: 189px;
  height: 71px;
  left: 360px;
  top: 145px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1d3557;
  margin-left: -200px;
  margin-bottom: 40px;
}

.profile-name {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1d3557;
  margin-left: -198px;
}
